<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cart</title>
    <link rel="stylesheet" href="css/product.css">
</head>
<body>
    <!-- To show products in cart *** -->
    <div>
        <h1>Cart</h1>

        <% cart.forEach(cart => { %>
            <p><%= cart.title %></p>
        <% }) %>

    </div>
</body>
</html>