@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,900&display=swap");

* {
  box-sizing: border-box;
  box-sizing: inherit;
}

body {
  color: #44475b !important;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: Roboto, system-ui;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}

.bg-black {
  background-image: url(//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/modal_bg.3bc18861.svg);
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-size: cover;
}

.flex-div {
  display: flex;
  align-items: center;
}

.logo {
  padding: 0;
  margin: 25px 0;
}

.logo-pic {
  /* margin-left: 40px; */
  padding: 20px;
}

.curs-or {
  cursor: pointer;
}

.pos-relative {
  position: relative;
}

.otp-input {
  justify-content: center;
}

.input-box {
  width: 100%;
  padding: 0;
  border-radius: 10px;
  background: #fff;
  max-width: 900px;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.main-inp-div {
  position: relative;
  width: 500px;
  background: #fff;
  display: inline-block !important;
  border-radius: 10px;
  height: 395px;
  padding: 30px;
}

.lock-img {
  max-height: 60px;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
}

.secure-text {
  color: #44475b;
  min-height: 40px;
  text-align: center;
}

.text-onee {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.22px;
  margin-bottom: 10px;
}

.text-twoo {
  font-size: 13px;
  letter-spacing: 0.17px;
  padding: 0 45px;
  line-height: 22px;
}

.pin-inp-area {
  margin-top: 15px;
}

#inp-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

#inp-parent .otp-inp {
  border-bottom: 2px solid #00d09c;
  margin: auto 7px;
}

#inp-parent .otp-inp .otpinput88 {
  border: none;
  font-size: 16px;
  flex-grow: 1;
  outline: 0;
  color: #44475b !important;
  box-shadow: 0 0 0 1000px #fff inset;
  width: 30px;
  text-align: center;
  background: #fff;
  /*   -webkit-text-security: disc;
  -webkit-text-stroke: thick; */
}

input {
  font-family: inherit;
}

.pinText {
  color: #44475b;
  min-height: 40px;
  text-align: center;
}

.submit-btn {
  position: absolute;
  bottom: 53px;
  left: 153px;
}

.btnPrimary {
  background: #00d09c;
  color: #fff;

  display: inline-block;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;

  background-position: 50%;
  transition: background 0.8s;
}

.btnDimension {
  height: inherit;
}

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-div {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 11px;
  left: 0;
  right: 0;
}

.email-disp {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.17px;
  text-align: center;
  color: #44475b;
  margin-bottom: 5px;
}

.click-Logout {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  margin-top: 3px;
  letter-spacing: 0.14px;
  color: #00d09c;
}

.contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.17px;
  text-align: center;
  color: #44475b;
  margin-bottom: 5px;
}

/* input for OTP */
.otp_input {
  border-bottom: 2px solid #00d09c;
  margin: auto 7px;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: 0;
  color: #44475b !important;
  box-shadow: 0 0 0 1000px #fff inset;
  letter-spacing: 35px;
  font-size: 22px;
  width: 200px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  background: #00d09c;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  background-position: 50%;
  transition: background 0.8s;
  border: none;
  width: 40%;
  height: 40px;
  font-size: 16px;
}

.text-three {
  font-size: 16px;
}

input[type="radio"] {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
}
